
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python

eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Text backup files
*.bak

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
.vnv
vnv/
env/
env1/
venv/
ENV/
.vscode/


*.sqlite3
.vagrant
.idea
*.db